 
<div class="alert alert-primary" role="alert">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="row" colspan="3" class="text-center">CARRITO</th>
    </tr>
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">PRECIO</th>
      <th scope="col">CANTIDAD</th>
    </tr>
  </thead>
  <tbody>
  {% if request.session.carrito.items %}
  {% for key, value in request.session.carrito.items %}
    <tr>
      <td>{{value.nombre}}</td>
      <td>{{value.precio}}</td>
      <td>{{value.acumulado}}
        <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
        <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
      </td>
    </tr>
  {% endfor %}
  {% else %}
  <tr>
      <td colspan="3">
          <div class="alert alert-danger text-center"> Sin Productos </div>
      </td>
  </tr>
  {% endif %}
    <tr>
      <th scope="row">Total:</th>
      <td colspan="2">$ {{total_carrito}}</td>
    </tr>
  </tbody>
</table>
<hr>
</div>
<div class="row text-center">
    <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
    <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
</div>