{% extends "main-template.html" %}{% load static %}
{% block title %}Web Shopping{% endblock %}
{% block content %}
<table id="tbl-products" class="table" style="max-width:1020px;margin: auto;">
    <caption>Products in the cart</caption>
    <thead>
      <tr>
        <th scope="col">PRODUCT</th>
        <th scope="col">QUANTY</th>
        <th scope="col">PRICE</th>
      </tr>
    </thead>
    <tbody>
        {% for product in products %}
      <tr>
        <td>
            <figure class="figure">
                <img src="{% static product.image %}" 
                style="max-width: 150px; max-height: 150px;" class="img-thumbnail" alt="xbox gamepad">
                    <figcaption class="figure-caption text-center">{{product.product}}</figcaption>
                    <figcaption class="figure-caption text-center">{{product.description}}</figcaption>            
                </figure>                      
        </td>
        <td>{{product.quantity}}</td>
        <td>{{product.price}}</td>
        {% endfor %}        
      </tr>
      <form id='frm-pay' name="pay" action="/webpay-plus-create" method="POST">{% csrf_token %}
      <tr>
        <td></td>
        <td><strong>Total</strong></td>
        <td><strong>{{total}}</strong><input id='txt-total' name="total" hidden value="{{total}}" /></td>
        <td><button class="alert alert-primary">PAY</button></td>       
      </tr>
    </form>            
    </tbody>
  </table>
{% endblock %}