{% extends "main-template.html" %}{% load static %}
{% block title %}Mascota Contacto{% endblock %}
{% block content %}
<head>
  
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/estilo_pedido.css' %}">-->
  <!--<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">-->
</head>
<section class="py-2 text-center container">
      <div class="row py-lg-1">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">CONTACTO</h1>
          <p class="lead text-muted">Contactanos llenando el formulario</p>
        </div>
      </div>
</section>
      <main>
        <form action="/contacto/formulario" class="formulario" id="formulario" method="POST" >{% csrf_token %}
          
          
          <!-- Grupo: run -->
          <div class="formulario__grupo" id="grupo__run">
            <label for="run" class="formulario__label">Run</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="run" id="txt-run" placeholder="11111111">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">en este campo solo se deben ingresar numeros</p>
          </div>
           <!-- Grupo: dv -->
           <div class="formulario__grupo" id="grupo__dv">
            <label for="dv" class="formulario__label">Dv</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="dv" id="txt-dv" placeholder="1-9 o K">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">en este campo solo se deben ingresar numeros o K</p>
          </div>
    
          <!-- Grupo: Nombre -->
          <div class="formulario__grupo" id="grupo__nombre">
            <label for="nombre" class="formulario__label">Nombre</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="nombre" id="txt-nombre" placeholder="ingresar nombre">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">el nombre solo puede contener letras.</p>
          </div>
          <!-- Grupo: Apellido-->
          <div class="formulario__grupo" id="grupo__apellido">
            <label for="apellido" class="formulario__label">Apellido</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="apellido" id="txt-apellido" placeholder="ingresar apellido">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">el apellido solo debe ser letras.</p>
          </div>
    
          <!-- Grupo: Correo Electronico -->
          <div class="formulario__grupo" id="grupo__correo">
            <label for="correo" class="formulario__label">Correo Electrónico</label>
            <div class="formulario__grupo-input">
              <input type="email" class="formulario__input" name="correo" id="txt-correo" placeholder="correo@correo.com">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El correo debe tener un @ </p>
          </div>
    
          <!-- Grupo: Teléfono -->
          <div class="formulario__grupo" id="grupo__telefono">
            <label for="telefono" class="formulario__label">Teléfono</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="telefono" id="txt-telefono" placeholder="449123456">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
          </div>

          <!-- Grupo: asunto -->
          <div class="formulario__grupo" id="grupo__pedido">
            <label for="pedido" class="formulario__label">Comentario</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="pedido" id="txt-pedido" placeholder="Escribe tu comentario">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El comentario puede contener cualquer caracter</p>
          </div>


    
          <div class="formulario__mensaje" id="formulario__mensaje">
            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
          </div>
 
    
          <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn" >Enviar</button>
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
          </div>
          <div id="txt-message"></div>       
          </div>
          
        </form>
      </main>
    </div>
  <script src="{% static 'js/personal/formulario.js' %}"></script>
  <script src="{% static 'js/popper/popper.min.js' %}"></script>
  <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/bootsap/bootstrap.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <hr class="featurette-divider">
  <div style="width: 75%; margin: 0 auto;">
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022–2022 Duoc UC Prueba 4 Victor Gomez y Oscar Useche, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
{% endblock %}