{% extends "main-template.html" %}{% load static %}
{% block title %}Macotas Galeria{% endblock %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/estilo_galeria.css' %}">
    
</head>

<div class="header">
  <h2>Galeria</h2>
</div>

<body>
  </section>
<script src="static/js/jquery/jquery-3.6.0.min.js"></script>
<script src="static/js/popper/popper.min.js"></script>
<script src="static/js/bootstrap/bootstrap.min.js"></script>
<hr class="featurette-divider">

  <div class="container">
    <h3 class="title">ALFOMBRAS HIGIENICAS</h3>
    <div class="content">
      <a href="" target="_blank">
        <div class="content-overlay"></div>
        <img class="content-image" src="{% static 'img/galeria/wizSmart.png' %}" width="200px" height="300px">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">ALFOMBRAS HIGIENICAS</h3>
          <p class="content-text">Lo que estabas buscando! Una alfombra higiénica,
            ecológica, super absorbente con un sistema patentado de
            adherencia al suelo!</p>
        </div>
      </a>
    </div>
  </div>

  <div class="container">
    <h3 class="title">Earthborn Holistic</h3>
    <div class="content">
      <a href="" target="_blank">
        <div class="content-overlay"></div>
        <img class="content-image" src="{% static 'img/galeria/earthborn1.png' %}" width="200px" height="300px">
        <div class="content-details fadeIn-top">
          <h3>Earthborn Holistic</h3>
          <p> es un alimento formulado sin grano y rico en proteínas proporciona un sabor carnoso de alta palatabilidad para su perro.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="container">
    <h3 class="title">Pez Electrico recargable.</h3>
    <div class="content">
      <a href="" target="_blank" >
        <div class="content-overlay"></div>
        <img class="content-image" src="{% static 'img/galeria/pez.png' %}" width="200px" height="300px">
        <div class="content-details fadeIn-left">
          <h3>Pez con catnip Electrico recargable.</h3>
          <p>El Juguete eléctrico del pez catnip mueve su cola y será muy realista. Se le puede echar hierba gatera, tener un efecto calmante y relajante en el estado de ánimo del gato.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="container">
    <h3 class="title">Difusor + Rrepuesto 48 ML</h3>
    <div class="content">
      <a href="" target="_blank">
        <div class="content-overlay"></div>
        <img class="content-image" src="{% static 'img/galeria/difusor.png' %}" width="200px" height="300px">
        <div class="content-details fadeIn-right">
          <h3>Difusor + Rrepuesto 48 ML</h3>
          <p>Mejora la relación con tu gato, creando un entorno agradable en el hogar. Efecto continuo, proporciona confort y seguridad constantes para tu gato.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="container">
    <h3 class="title">Cómo cuidar a tu perro arrugado</h3>
    <div class="content">
      <a href="" target="_blank">
        <div class="content-overlay"></div>
        <img class="content-image" src="{% static 'img/galeria/cuidado.jpg' %}" width="200px" height="300px">
        <div class="content-details fadeIn-top fadeIn-left">
          <h3>Cómo cuidar a tu perro arrugado</h3>
          <p>Es difícil mirar a un perro arrugado y no sonreír. Hay algo acerca de una taza de Pug suave, envuelta en pliegues, o los surcos de un Bulldog, Mastiff o Shar-Pei, que hace que muchos humanos se sientan desesperadamente atraídos por la mirada. Sin embargo, por muy atractivo que sea un perro arrugado, sus arrugas requieren un poco de cuidado adicional para mantenerlas. Aquí hay algunos pasos simples para mantener las arrugas de su perro tan saludables como adorables.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="container">
    <h3 class="title">el pulgas</h3>
    <div class="content">
      <a href="" target="_blank">
        <div class="content-overlay"></div>
        <img class="content-image" src="{% static 'img/galeria/cuidado.jpg' %}" width="200px" height="300px">
        <div class="content-details fadeIn-top fadeIn-right">
          <h3>Pasteleria</h3>
          <p>pulgas</p>
        </div>
      </a>
    </div>
  </div>
<hr class="featurette-divider">
<div style="width: 75%; margin: 0 auto;">
<footer >
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; 2022–2022 Duoc UC Prueba 4 Victor Gomez y Oscar Useche, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>
</html>
{% endblock %}
