{% extends "main-template.html" %}{% load static %}
{% block title %}Mascota Home{% endblock %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/estilo_galeria.css' %}">    
</head>
<div style="margin:0 auto;" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="{% static 'img/Carrusel/banner1.png' %}" class="d-block w-100" alt="..." height="504px">
      <div class="carousel-caption d-none d-md-block">
        <h1>Bienvenidos a Patipperros</h1>
        <p>Descubre un mundo para tus mascotas</p>
        <p><a class="btn btn-lg btn-primary" href="/galeria">Ir a Galeria</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="{% static 'img/Carrusel/Banner2.png' %}" class="d-block w-100" alt="..." height="504px">
      <div class="carousel-caption d-none d-md-block">
        <h5>Contactanos</h5>
        <p>Envianos un mensaje con los productos que necesistas</p>
        <p><a class="btn btn-lg btn-primary" href="/contacto">Ir a Contacto</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="{% static 'img/Carrusel/banner4.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Revisa nuestras preparaciones</h5>
        <p>Registrate y conoce tus beneficios.</p>
        <p><a class="btn btn-lg btn-primary" href="/registro">Ir a Registro</a></p>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 


<hr class="featurette-divider">

<div class="card">
  <div class="card-body">
    <h1>                      Campaña adopta una mascota.</h1>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'img/galeria/inidcadores.png' %}" class="card-img-top" width="200px" height="300px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Indicadores Economicos</h5>
        <p class="card-text">dolar: {{ dolar }}</p> 
        <p class="card-text">fecha: {{ fecha }}</p> 
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'img/galeria/adopta1.png' %}" class="card-img-top" width="200px" height="300px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Adopta a pipo</h5>
        <p class="card-text">pipo es un perro callejero muy cariñoso</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'img/galeria/adopta2.png' %}"  class="card-img-top" width="200px" height="300px" alt="...">
      <div class="card-body">
        <h5 class="card-title">adopta a Maracaibo</h5>
        <p class="card-text">Maracaibo es una gata tranquila.</p>
      </div>
    </div>
  </div>
</div>


  

<hr class="featurette-divider">

  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022–2022 Duoc UC Prueba 4 Victor Gomez y Oscar Useche, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

  <script src="static/js/jquery/jquery-3.6.0.min.js"></script>
  <script src="static/js/popper/popper.min.js"></script>
  <script src="static/js/bootstrap/bootstrap.min.js"></script>
{% endblock %}