{% extends "main-template.html" %}{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    
    
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    
</head>
<body>
  
    <section class="py-5 text-center container">
        <div class="row py-lg-1">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Login</h1>
            <p class="lead text-muted">Ingresa tu Usuario y contraseña</p>
          </div>
        </div>

    <form id="frm-login" method="POST" action=".">{% csrf_token %}
        <div class="container" style="max-width:700px !important">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="txt-username" class="form-label">USUARIO</label>
              <input id="txt-username" name="username" class="form-control" placeholder="username" required />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="txt-password" class="form-label">PASSWORD</label>
              <input type="password" id="txt-password" name="password" class="form-control" placeholder="password" required/>        
            </div>  
          </div>

          <div class="formulario__grupo formulario__grupo-btn-enviar">      
              <button type="submit" style="margin-top: 15px;" 
                            class="formulario__btn">LOGIN</button>
          </div>         
        </div>
      </form>
    </section>    
    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>      
</body>

{% endblock %}