{% extends "main-template.html" %}{% load static %}
{% block title %}Mantenedor{% endblock %}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Usuario</th>
        <th scope="col">Clave</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        <main class="container">
        <section class="py-5 text-center container">
            <div class="row py-lg-1">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Mantenedor de Usuario-login</h1>
                <p class="lead text-muted">aqui puedes visualizar editar y eliminar registros de usuarios.</p>
              </div>
            </div>
          </section>
        </main>
        {% for u in usuarios %}
            <tr>
                <th scope="row">{{u.id}}</th>
                <td>{{u.first_name}}</td>
                <td>{{u.last_name}}</td>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td><button type="button" class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#mdl-{{u.id}}">ELIMINAR</button>
                  <div id="mdl-{{u.id}}" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Advertencia</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Se eliminar el registro Seleccionado.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <form method="GET" action="">
                            <input name="codigo_usu" value="{{u.id}}" type="hidden" />
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </div> <button type="button" class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#mdl-update-{{u.id}}">ACTUALIZAR</button></td>
                <div id="mdl-update-{{u.id}}" class="modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Actualizar Registro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="frm-contacto" method="POST" action="">{% csrf_token %}
                          <div class="container" style="max-width:700px !important">
                            <input type="hidden" id="txt-codigo" name="id" value="{{u.id}}">
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label for="txt-nombres" class="form-label">NOMBRE</label>
                                <input id="txt-nombres" name="nombre" value="{{u.first_name}}" class="form-control" placeholder="NOMBRES" />        
                              </div>
                              <div class="col-sm-6">
                                <label for="txt-apellidos" class="form-label">APELLIDO</label>
                                <input id="txt-apellidos" name="apellido"  value="{{u.last_name}}" class="form-control" placeholder="APELLIDO PATERNO" />        
                              </div>   
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                  <label for="txt-nombres" class="form-label">usuario</label>
                                  <input id="txt-nombres" name="usuario" value="{{u.username}}" class="form-control" placeholder="NOMBRES" />        
                                </div>
                                <div class="col-sm-6">
                                  <label for="txt-apellidos" class="form-label">clave</label>
                                  <input id="txt-apellidos" name="clave"  value="{{u.password}}" class="form-control" placeholder="APELLIDO PATERNO" />        
                                </div>   
                              </div>
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label for="txt-email" class="form-label">EMAIL</label>
                                <input id="txt-email" name="correo" value="{{u.email}}" class="form-control" placeholder="EMAIL" />        
                              </div>        
                            </div>    
                            <div class="form-group row">        
                                <button type="submit" style="margin-top: 15px;" 
                                              class=" col-sm-3 btn btn-primary"
                                              >ENVIAR</button>
                            </div>         
                          </div>
                        </form>
                        
                      </div>   
                    </div>
                  </div>

            </tr>
        {% endfor %}    
    </tbody>
  </table>

{% endblock %}