{% extends "main-template.html" %}{% load static %}
{% block title %}Mascota Registro{% endblock %}
{% block content %}
<head> 
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<section class="py-2 text-center container">
  <div class="row py-lg-1">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">REGITRO</h1>
      <p class="lead text-muted">Registrate y se parte de Patipperos</p>
    </div>
  </div>
</section>
        <main>
          <form action="/registro/formulario" class="formulario" id="formulario" method="POST" >{% csrf_token %}
            <!-- Grupo: Nombre -->
            <div class="formulario__grupo" id="grupo__nombre">
              <label for="nombre" class="formulario__label">Nombre</label>
              <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="nombre" id="txt-nombre" placeholder="ingresar nombre">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">el nombre solo puede contener letras.</p>
            </div>
            <!-- Grupo: Apellido-->
            <div class="formulario__grupo" id="grupo__apellido">
              <label for="apellido" class="formulario__label">Apellido</label>
              <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="apellido" id="txt-apellido" placeholder="ingresar apellido">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">el apellido solo debe ser letras.</p>
            </div>
      
           
            <!-- Grupo: Usuario -->
            <div class="formulario__grupo" id="grupo__usuario">
              <label for="usuario" class="formulario__label">Usuario</label>
              <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="usuario" id="txt-usuario" placeholder="ingresar usuario">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">el usuario solo puede contener letras.</p>
            </div>
            <!-- Grupo: Usuario -->
            <div class="formulario__grupo" id="grupo__clave">
              <label for="clave" class="formulario__label">Password</label>
              <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="clave" id="txt-clave" placeholder="ingresar clave">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">la clave solo puede contener letras.</p>
            </div>

             <!-- Grupo: Correo Electronico -->
             <div class="formulario__grupo" id="grupo__correo">
              <label for="correo" class="formulario__label">Correo Electrónico</label>
              <div class="formulario__grupo-input">
                <input type="email" class="formulario__input" name="correo" id="txt-correo" placeholder="correo@correo.com">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
              </div>
              <p class="formulario__input-error">El correo debe tener un @ </p>
            </div>

            <div class="formulario__mensaje" id="formulario__mensaje">
              <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>
   
      
            <div class="formulario__grupo formulario__grupo-btn-enviar">
              <button type="submit" class="formulario__btn"  >Enviar</button>
              <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
            </div>
            <div id="txt-message"></div>       
            </div>
            
          </form>
        </main>
      </div>
    <script src="{% static 'js/personal/formulario_registro.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootsap/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <hr class="featurette-divider">
    <div style="width: 75%; margin: 0 auto;">
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>&copy; 2022–2022 Duoc UC Prueba 3 Victor Gomez y Oscar Useche, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>


{% endblock %}